<img src="https://upload.wikimedia.org/wikipedia/en/f/fb/SETU_Ireland_logo.png" alt="SETU" width="1000"/>

# Palmer Archipelago Penguin Data Set
*****

* Author: John Paul Lee
* Github: JPLee01
* Email: C00244423@itcarlow.ie
* Created: 08-11-2022, Last update: 09-11-2022
* Research Method for Engineering: Data Analysis and Visualisation 30%.
***
**Lecturer:** Dr. Edmond Tobin

* This Jupyter Notebook has been created to offer a report on the Palmer Archipelago Penguin Data Set. This report will provide an overview of the data set, examine the data set in terms of variables, execute normality, homogeneity and post hoc tests. Provide plots and visualisations as necessary.

***
As part of the assignment this report will deal with four main tasks:

1. An analysis of the 4 dependent variables within the Data Set. 
2. Execution of normality and homogeneity tests.
3. Execution of post hoc tests.
4. Creation of plots and visualisations as necessary.

**Table of Contents**
------------------------------------------------------------------------------------------------

[Penguin Data Set](#penguin-data-set)

[1. Introduction](#1-introduction)

[2. Penguin Data Set](#2-penguin-data-set)

  [2.1 Background](#2.1-Background)

[3. Problem Statement](#3-Problem-Statement)

[4. Previous Case Studies of the Data Set](#4-Previous-Case-Studies-of-the-Data-Set)

[5. Issues and Inconsistencies with Data Set](#5-Issues-and-Inconsistencies-with-Data-Set)

[6. Libraries](#6-Libraries)

[7. Analysis of Data Set and Results Explained](#7-Analysis-of-Data-Set-and-Results-Explained)

  [7.1 Initial Analysis](#7.1-Initial-Analysis)

  [7.2 Normality Analysis](#7.2-Normality-Analysis)

  [7.3 Homogeneity Analysis](#7.3-Homogeneity-Analysis)

  [7.4 Post Hoc Analysis](#7.4-Post-Hoc-Analysis)

[8. Summary, Conclusion and Future Possibilities for the Data Set](#8-Summary,-Conclusion-and-Future-Possibilities-for-the-Data-Set)

[9. References](#9-References)

[10. Bibliography](#10-Bibliography)

## 1 Introduction
------------------------------------------------------------------------------------------------

This analysis of Penguin Data Set has been carried out as an assignment of the Research Methods Module. The aim of this assignment is to help the student gain a practical experience in data handling, including data types and structures handling, data splicing, plots generation and interpretation.

## 2 Palmer Archipelago Penguin Iris Data Set
------------------------------------------------------------------------------------------------
### 2.1 Background
The data analysed in this report is the Palmer Archipelago Penguin Data Set (Gorman et al., 2014).The Penguin Data Set collected from 2007 to 2009 by Dr. Kristen Gorman with the Palmer Station Long Term Ecological Research Program, part of the US Long Term Ecological Research Network (Hill et al., 2020). Body size measurements were collected for three species of Pygoscelis penguins that breed on islands throughout the Palmer Archipelago, Antarctica (Gorman et al., 2021). The three species of Pygoscelis penguins can be seen in the image below:

![Penguin Species](https://education.rstudio.com/blog/2020/07/palmerpenguins-cran/gorman-penguins.jpg)

Three hundred and fourty four observations were collected and analysed. Within each observation, Gorman studied five distinct characteristics:

1.  Bill Length (Mm)
2.  Bill Depth (Mm)
3.  Flipper Length (Mm)
4.  Body Mass (G)
5.  Sex

These observations were taken over the following three islands of the Palmer Archipelago:
1. Biscoe 
2. Dream
3. Torgersen

It should be noted that the year these observations took place is also included in the data set.

##  3 Problem Statement
------------------------------------------------------------------------------------------------
As part of the assignment, the student was given a set of instructions. Within the instructions a problem statement was printed. It stated that this assignment will involve an analysis of the Palmer Archipelago Penguin Data Set. Python code will be utilised for this analysis and the student will give explanations of the python code and discuss any observations. The problem statement also explained it was required for the project to:

* Produce a statistical analysis report of the data and present a series of graphs of the data that would be in a form suitable for publication in a journal paper or other formal report.
* Analyse all 4 dependent variables. 
* Perform normality and homogeneity tests, and if required, post hoc tests.
* The report should provide a discussion on the significance of the data and data set.
* The student can use any statistical software that they are familiar with.

##  4 Previous Case Studies of the Data Set
------------------------------------------------------------------------------------------------
Through an online search it can be seen that a number of previous iterations of the analysis of the data have taken place. These include programs written in Python as well as other computing languages. The works of Tsai (2021) and Tirendaz Academy (2022) who demonstrate the use of Pandas, Numpy, Matplotlib and Seaborn for management of the Palmer Archipelago Penguin Data Set were used as inspiration by the author in the construction of the report.

##  5 Issues within the Data Set
------------------------------------------------------------------------------------------------
It should be noted, that there are a number of issues within the data set sourced provided to the author and the data set presented by Gorman (2014) et al. These issues are as follows:

1.  4th Sample:  Null values in every column except species, island and year.
2.  9th Sample:  Null sex value.
3.  10th Sample: Null sex value.
4.  11th Sample: Null sex value.
5.  12th Sample: Null sex value.
6.  48th Sample: Null sex value.
7.  179th Sample: Null sex value.
8.  219th Sample: Null sex value.
9.  257th Sample: Null sex value.
10. 269th Sample: Null sex value.
11. 272nd Sample:  Null values in every column except species, island and year.

These issues will be handled by the author later on in the report.

##  6 Libaries
------------------------------------------------------------------------------------------------
The following Python libraries were used in the writing of the programs code and are required to successfully run the notebook:
* [Numpy](https://www.numpy.org/) - Used for synthesisation of the data and mathematical functions.
* [Pandas](https://pandas.pydata.org/) - Used for import, management, data manipulation and analysis.
* [Matplotlib.pyplot](https://matplotlib.org/tutorials/introductory/pyplot.html) - Used for the manipulation of elements and the creation of certain plots graphs, plots and charts.
* [Seaborn](https://seaborn.pydata.org/) - Used for the creation and manipulation of all plots created. (Seaborn allows for the extetion of the functionality of Matplotlib).
* [Scikit-Learn](https://scikit-learn.org/stable/) - A machine learning library for the Python programming language. The use of this library is explored within the notebook.

## 7 Analysis of Data Set and Results Explained
------------------------------------------------------------------------------------------------
This section will describe the Python programs and subsequent code which was created to analyse the data set as well as a discussion on the results these programs yielded.

For clarity comments within the code have been added by the author to offer the reader an understanding of the specifics of the Python programs created.

### 7.1 Initial Analysis
This section will be concerned with the loading of the necessary libraries, the importing the data set and creation of a DataFrame as well as an initial analysis of the contents of the data set.

#### Importing the Libraries
As seen above a munber of libraries are required to successfully write and run the programs code. For the notebook the following libraries were imported:

In [1]:
#Importation of the necessary libraries

#Import Numpty for Analysis of the data 
import numpy as np

#Import Pandas for Data Management 
import pandas as pd 

#Import matplotlib.pyplot and seaborn for Visualisation of the data
import matplotlib.pyplot as plt
import seaborn as sns

#Import Scikit-Learn for Machine Learning of the data
import sklearn

Point to note ss we will be displaying Plots in this Jupyter Notebook we will implement the inline magic command to allow the Plots to be rendered inline within the Notebook (Rishabh, 2017).

In [2]:
#Inline Magic command implemented to ensure that the Plots are rendered inline
%matplotlib inline

To ensure uniformity throughout the Juypter Notebook with regard to Seaborn Plots display, the style and palette fuction will be set.

The style function will be set to darkgrid. This will allow for optimal measurements of Plots, as the darkened background with the built in grid lines will be best displayed against the white background of the Juypter Notebook.(Geek for Geeks, 2021). The palette fuction will be set to bright, as it will allow for clear distinction of multiple outputs within one Plot (Geek for Geeks, 2021). Finally, in order to ensure uniformity throughout the notebook the plots size will be set using the rcParams function (Dou, 2020).

In [3]:
#Setting of Seaborn dispays to enure uniformity throughout the Juypter Notebook

#Darkplot style selected to allow for optimal measurments of Plots
sns.set_style("darkgrid")
#Bright colour palette selected to allow for clear distinction of multiple outputs within one Plot 
sns.set_palette("bright")

# set plot style
plt.style.use("ggplot")

# Increase the size of the output plots
plt.rcParams["figure.figsize"] = (12,8)

#### Importing the Data Set and Creation of a DataFrame
The data set is imported from the Csv file through the use of the pandas.read function. Once imported this data set is used in the creation of a DataFrame to allow for greater ease of analysis.

In [4]:
#Import the data
f = pd.read_csv("Penguin.csv")

#Create a DataFrame from the Csv file to allow for easier analysis
df = pd.DataFrame(f)

#Copy of the original data set kept in case required
dfc = pd.DataFrame(f)

#Display the shape of the DataFrame
(df.shape)

(344, 8)

As can be seen from the shape the the data set contains three hundred and fourty four observations with eight variables.

#### List of the Unique Values in the Data Set
To create a list of the unique values in the categorical columns the following code is executed:

In [5]:
#Unique Values in the Species Column
Specieslist = df["species"].unique()
print ("The Species present in this dataset are:")
for i in Specieslist:
    print('>', i)
print()
    
#Unique Values in the Island Column
Islandlist = df["island"].unique()
print ("The Islands present in this dataset are:")
for i in Islandlist:
    print('>', i)
print()

#Unique Values in the Sex Column
Genderlist = df["sex"].unique()
print ("The Sex types present in this dataset are:")
for i in Genderlist:
    print('>', i)
print()

The Species present in this dataset are:
> Adelie
> Gentoo
> Chinstrap

The Islands present in this dataset are:
> Torgersen
> Biscoe
> Dream

The Sex types present in this dataset are:
> male
> female
> nan

As can be seen from the results it appears a third sex type value is present. This lends itself to the assumption that there may be some inconsistencies within the data set. As a result, an exploration of this will now take place (Data to Fish, 2021). Firstly the Pandas.DataFrame.head command will be implemented to display the first 5 rows of data to see if any Nan (not a number/null) values are present.

In [6]:
#Display the first 5 rows of data
print("The follwoing are the first 5 rows of data within the data set:")
print(df.head(), "\n")

The follwoing are the first 5 rows of data within the data set:
  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex  year
0       3750.0    male  2007
1       3800.0  female  2007
2       3250.0  female  2007
3          NaN     NaN  2007
4       3450.0  female  2007

As can be seen row 3 (4th observation but to the rows beginning at 0) null values in every column except species, island and year. As a result, code will be implemented which will highlight all rows which have a NaN value.

In [7]:
#Highlight all rows which have a NaN value
nan_values = df[df.isnull().any(axis=1)]

#Print the results
print (nan_values)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
3    Adelie  Torgersen             NaN            NaN                NaN
8    Adelie  Torgersen            34.1           18.1              193.0
9    Adelie  Torgersen            42.0           20.2              190.0
10   Adelie  Torgersen            37.8           17.1              186.0
11   Adelie  Torgersen            37.8           17.3              180.0
47   Adelie      Dream            37.5           18.9              179.0
178  Gentoo     Biscoe            44.5           14.3              216.0
218  Gentoo     Biscoe            46.2           14.4              214.0
256  Gentoo     Biscoe            47.3           13.8              216.0
268  Gentoo     Biscoe            44.5           15.7              217.0
271  Gentoo     Biscoe             NaN            NaN                NaN

     body_mass_g  sex  year
3            NaN  NaN  2007
8         3475.0  NaN  2007
9         4250.0  NaN  2007
10        3300.0  NaN  2007
11        3700.0  NaN  2007
47        2975.0  NaN  2007
178       4100.0  NaN  2007
218       4650.0  NaN  2008
256       4725.0  NaN  2009
268       4875.0  NaN  2009
271          NaN  NaN  2009

From the output we can see that eleven observtions have Nan (not a number/null) values. These range from a single entry e.g. sex, in an observation, to every entries except species, island and year. This also reinforces the issues highlighed in section 5 of the report

#### Treatment of Null Vlaues
When analysing a data set it is important to deal with null values. This is becasue if left untreated null values can adversely affect the accuracy of resluts/hypotheses as well as potentially building a biased machine learning algorithms (Kumar, 2019). When data wrangling (removing errors and combining data sets to make them more accessible and easier to analyze (Simplilearn, 2022)), two primary methods can be implemented; the imputation or the removal of data (Swalin, 2018). 

The imputation of data is a technique used for replacing the missing data with some substitute value to retain most of the data/information of the dataset i.e. developing a reasonable guess for the missing data (Singhal, 2021). This technique ia most useful when the percentage of missing data is low. However if, the portion of missing data is too high, the results lack natural variation that could result in an effective model (MastersInDataScience.org, 2022). Examples of imputation techniques include; Mean imputation (replacing the missing value withe the mean (Schork, 2019) and Cold deck imputation (replacing the missing value with a value collected from a similiar study (Maity, 2020). 

The removal of data simply mean the removal of the observations with the missing data from the data set (Madaan, 2022). While it can be argued the removal of data versus the imputation of data reduces bias, removing data may not be the best option if there are not enough observations to result in a reliable analysis (Gawali, 2021). 

It is the author opinion that for the purpose of this assignment the imputation of data is most suitable technique to use. This is due to the fact that the overall presentage of missing data is less than 1% (19 missing values out of a total of 2752) and machine learning techniques offer an effective method to impute missing values. The author will implement the Sklearn KNN Imputer module to predict the missing values.

#### Implementation of Sklearn KNN Imputer on Null Vlaues
KNN Imputer is a scikit-learn class used to fill out or predict the missing values in a dataset (Geek for Geeks, 2020).The KNN Imputer class uses the k-Nearest Neighbors approach for calculating the missing values (Brownlee, 2020). That is to say ‘k’ samples in the dataset that are similar or close to the missing data are identified, the mean value of these ‘k’ samples are used to predict the missing values (Chowdhury, 2020). 

It should be noted that the KNN Imputer does not work with object datatypes e.g. string, array, class. As a result all the object data will need to be converted to an integer type via sklearn’s LabelEncoder (The Data Detective, 2019).

The implement the Sklearn KNN Imputer module can be seen in the code below.

Please note that when implementing the Sklearn KNN Imputer module on the DataFrame copy a Python Warning appears. This particular warning "SettingWithCopyWarning" states that - A value is trying to be set on a copy of a slice from a DataFrame. Explained in great details in a DataQuest blog (2017) that warning essentially informs that user that they may be modifying a copy of a DataFrame but not the original DataFrame (this can be seen in the image below). When implementing the Sklearn KNN Imputer module it is the authors intention to modify to copied DataFrame (dfc) and leave the original DataFrame (df) to allow for comparassion. As a result, for aesthetic purposes the author will implement the Python warnings ignore function (Stack Overflow, 2012).

![SettingWithCopyWarning](https://www.dataquest.io/wp-content/uploads/2019/01/modifying.png)

In [8]:
#Import the warnings ignore function for aesthetic purposes
import warnings
warnings.filterwarnings('ignore')

#Import KNNImputer and LabelEncoder from the sklearn library
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

#Encode and Impute the data
encode = LabelEncoder()
impute = KNNImputer()
for i in df.select_dtypes(include='object').columns:
    df[i][df[i].notnull()] = encode.fit_transform(dfc[i])

The Pandas.DataFrame.head command will be implemented will now be implemented again to observed how the data has been encoded.

In [9]:
#Use of Pandas.DataFrame.head command again to see how data is encoded
print(df.head())

  species island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       0      2            39.1           18.7              181.0
1       0      2            39.5           17.4              186.0
2       0      2            40.3           18.0              195.0
3       0      2             NaN            NaN                NaN
4       0      2            36.7           19.3              193.0

   body_mass_g  sex  year
0       3750.0    1  2007
1       3800.0    0  2007
2       3250.0    0  2007
3          NaN  NaN  2007
4       3450.0    0  2007

I can be seen in the above output the results in the columns are not scaled properly. This can potentially lead to issues in terms of data analysis. As a result the Sklearn MinMaxScaler module will be implemented to to normalize the variables.

In [10]:
from sklearn.preprocessing import MinMaxScaler
sca = MinMaxScaler()
df_sca = pd.DataFrame(sca.fit_transform(df),columns=dfc.columns)
df_sca.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,0.0,1.0,0.254545,0.666667,0.152542,0.291667,1.0,0.0
1,0.0,1.0,0.269091,0.511905,0.237288,0.305556,0.0,0.0
2,0.0,1.0,0.298182,0.583333,0.389831,0.152778,0.0,0.0
3,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0
4,0.0,1.0,0.167273,0.738095,0.355932,0.208333,0.0,0.0

In [11]:
new_df = pd.DataFrame(impute.fit_transform(df_sca), columns=dfc.columns)
new_df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [12]:
dt = pd.DataFrame(sca.inverse_transform(new_df),columns=df.columns)

dt['sex'] = dt['sex'].round()

dt['sex'] = dt['sex'].map({0:'Female', 1:'Male'})

dt['species'] = dt['species'].map({0:'Adeile',1:'Chinstrap',2:'Gentoo'})

dt['island'] = dt['island'].map({0:'Biscoe',1:'Dream',2:'Torgersen'})

In [13]:
dt.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adeile,Torgersen,39.1,18.70,181.0,3750.0,Male,2007.0
1,Adeile,Torgersen,39.5,17.40,186.0,3800.0,Female,2007.0
2,Adeile,Torgersen,40.3,18.00,195.0,3250.0,Female,2007.0
3,Adeile,Torgersen,38.3,19.46,191.2,3960.0,Female,2007.0
4,Adeile,Torgersen,36.7,19.30,193.0,3450.0,Female,2007.0

In [14]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,0,2,39.1,18.7,181.0,3750.0,1,2007
1,0,2,39.5,17.4,186.0,3800.0,0,2007
2,0,2,40.3,18.0,195.0,3250.0,0,2007
3,0,2,NaN,NaN,NaN,NaN,NaN,2007
4,0,2,36.7,19.3,193.0,3450.0,0,2007

##  9 References
------------------------------------------------------------------------------------------------
* Brownlee, J. (2020). *kNN Imputation for Missing Values in Machine Learning*, Machine Learning Mastery [online], 24 June, availalbe: https://machinelearningmastery.com/knn-imputation-for-missing-values-in-machine-learning/ [Accessed 09 November 2022].
* Chowdhury, K. (2020). *KNNImputer: A robust way to impute missing values (using Scikit-Learn)*, Analytics Vidhya [online], 14 July, availalbe: https://www.analyticsvidhya.com/blog/2020/07/knnimputer-a-robust-way-to-impute-missing-values-using-scikit-learn/#:~:text=The%20idea%20in%20kNN%20methods,neighbors%20found%20in%20the%20dataset. [Accessed 09 Novmeber 2022].
* Data to Fish. (2021). *Select all Rows with NaN Values in Pandas DataFrame*, Data to Fish [online], 17 July, availalbe: https://datatofish.com/rows-with-nan-pandas-dataframe/ [Accessed 09 November 2022].
* DataQuest (2017). *SettingwithCopyWarning: How to Fix This Warning in Pandas*, DataQuest [online], 05 July, availalbe: https://www.dataquest.io/blog/settingwithcopywarning/ [Accessed 09 Novmeber 2022].
* Dou, S. (2020). *How To Create And Use Custom Matplotlib Style Sheet*, Towards Data Science [online], 17 October, available: https://towardsdatascience.com/how-to-create-and-use-custom-matplotlib-style-sheet-9393f498063 [Accessed 09 November 2022].
* Gawali, S. (2021). *How to Deal with Missing Data using Python*, Analytics Vidhya [online], 09 October, available: https://www.analyticsvidhya.com/blog/2021/10/how-to-deal-with-missing-data-using-python/ [Accessed 09 November 2022].
* Geek for Geeks. (2020). *Python | Imputation using the KNNimputer()*, Geek for Geeks [online], 05 September, availalbe: https://www.geeksforgeeks.org/python-imputation-using-the-knnimputer/#:~:text=KNNimputer%20is%20a%20scikit%2Dlearn,with%20mean%20or%20the%20median. [Accessed 09 November 2022].
* Geek for Geeks. (2021). *Seaborn | Style And Color*, Geek for Geeks [online], 29 Janurary, available: https://www.geeksforgeeks.org/seaborn-style-and-color/ [Accessed 09 November 2022].
* Gorman, K.B. and at al. (2014). *Ecological sexual dimorphism and environmental variability within a community of Antarctic penguins (genus Pygoscelis)*. PloS one, 9(3), pp. 81-90.
* Gorman K.B. and et al. (2021). *Advancing the Sea Ice Hypothesis: Trophic Interactions Among Breeding Pygoscelis Penguins With Divergent Population Trends Throughout the Western Antarctic Peninsula*, Frontiers in Marine Science, 8(1), pp. 1-8.
* Hill, A. and et al., (2020). *Release the penguins*, R Studio Education [online], 27 July, available: https://education.rstudio.com/blog/2020/07/palmerpenguins-cran/#meet-the-penguins [Accessed 08 November 2022]. 
* Kumar, N. (2019). *Data Wrangling: Removing Null Values from Dataset in Python using Pandas Library*, The Professionals Point [online], 15 March, available: http://theprofessionalspoint.blogspot.com/2019/03/data-wrangling-removing-null-values.html#:~:text=Removing%20null%20values%20from%20the,learning%20algorithm%20to%20that%20dataset. [Accessed 09 November 2022].
* Madaan, M. (2022). *Handling missing values: Beginners Tutorial*, Naukri Learning [online], 04 April, available: https://www.naukri.com/learning/articles/handling-missing-values-beginners-tutorial/ [Acced 09 November 2022]. 
* Maity, A. (2020). *Blog On The Techniques of Data Imputation By Amarjit Maity*, Linkenin [online], 15 October, availalbe: https://www.linkedin.com/pulse/techniques-data-imputation-amarjit-maity [Accessed 09 November 2022].
* MastersInDataScience.org. (2022). *How to Deal with Missing Data*, MastersInDataScience.org [online], 01 January, availalbe: https://www.mastersindatascience.org/learning/how-to-deal-with-missing-data/#:~:text=When%20dealing%20with%20missing%20data,of%20missing%20data%20is%20low. [Accessed 09 November 2022].
* Rishabh. (2017). *Purpose of "%matplotlib inline"*, Stack Overflow [online], 26 March, available: https://stackoverflow.com/questions/43027980/purpose-of-matplotlib-inline/43028034 [Accessed 09 November 2022]. 
* Simplilearn. (2022). *What Is Data Wrangling? Benefits, Tools, Examples and Skills*, Simplilearn [online], 12 July, available: https://www.simplilearn.com/data-wrangling-article#:~:text=Data%20wrangling%20is%20the%20process%20of%20removing%20errors%20and%20combining,analysis%20is%20becoming%20increasingly%20necessary [Accessed 09 November 2022].
* Singhal, S. (2021). *Defining, Analysing, and Implementing Imputation Techniques*, Analytics Vidhya [online], 21 June, available: https://www.analyticsvidhya.com/blog/2021/06/defining-analysing-and-implementing-imputation-techniques/#:~:text=What%20is%20Imputation%3F,data%2Finformation%20of%20the%20dataset [Accessed 09 November 2022].
* Schork, J. (2019). *Mean Imputation for Missing Data (Example in R & SPSS)*, Statistics Globe [online], 24 September, availalbe: https://statisticsglobe.com/mean-imputation-for-missing-data/ [Accessed 09 Novmeber 2022].
* Stack Overflow. (2012). *Hide all warnings in ipython*, Stack Overflow [online], 27 January, availalbe: https://stackoverflow.com/questions/9031783/hide-all-warnings-in-ipython [Accessed 09 November 2022].
* Swalin, A. (2018). *How to Handle Missing Data*, Towards Data Science [online], 31 January, availalbe: https://towardsdatascience.com/how-to-handle-missing-data-8646b18db0d4 [Accessed 09 November 2022]. 
* The Data Detective. (2019). *Preprocessing: Encode and KNN Impute All Categorical Features Fast*, Towards Data Science [online], 19 November, available: https://towardsdatascience.com/preprocessing-encode-and-knn-impute-all-categorical-features-fast-b05f50b4dfaa [Accessed 09 November 2022]. 
* Tirendaz Academy. (2022). *Penguin Dataset: Data Visualization with Seaborn*, Kaggle [online], 20 July, available: https://www.kaggle.com/code/tirendazacademy/penguin-dataset-data-visualization-with-seaborn [Accessed 09 November 2022]. 
* Tsai, E. (2021). *Build a Python project using Pandas and Seaborn*, Medium [online], 01 September, availalbe: https://medium.com/@marvelouskgc/build-a-penguin-project-using-pandas-and-seaborn-eugene-tsai-e4b7e0b499ea [Accessed 09 November 2022]. 




Analytics Vidhya

##  10 Bibliography
------------------------------------------------------------------------------------------------
* Geek for Geeks. (2022). *Check for NaN in Pandas DataFrame*, Geeks for Geeks [online], 26 August, availalbe: geeksforgeeks.org/check-for-nan-in-pandas-dataframe/ [Accessed 09 November 2022].
* Gupta, D. (2018). *Pandas DataFrame: Playing with CSV files*, Medium [online], 02 November, availalbe: https://towardsdatascience.com/pandas-dataframe-playing-with-csv-files-944225d19ff [Accessed 08 November 2022]. 
* Ha, J. (2009). *How can I check for NaN values?*, Stack Overflow [online], 03 June, availalbe: https://stackoverflow.com/questions/944700/how-can-i-check-for-nan-values [Accessed 09 November 2022].
* Horst, et al. (2022). *The R Journal: Palmer Archipelago Penguins Data in the palmerpenguins R Package - An Alternative to Anderson's Irises*, The R Journal, 1(1), pp. 7-16.
* Rai, S. (2019). *3 Methods to Handle Missing Data*, Oracle [online], 28 Februry, available: https://blogs.oracle.com/ai-and-datascience/post/3-methods-to-handle-missing-data [Accessed 09 November 2022].
* Stobierski, T. (2021). *DATA WRANGLING: WHAT IT IS & WHY IT’S IMPORTANT*, Harvard Business School [online], 19 January, availalbe: https://online.hbs.edu/blog/post/data-wrangling [Accessed 09 November 2022].